body {
    width: 600px;
    margin: 0 auto;
}
/* tipos de letra */
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
.img {
    width: 600px;
    height: 500px;
    margin: auto;
}
/* Colores de la ventana */
#miCanvas {
    border: groove 5px rgb(41, 82, 170);
    background-color: black;
    box-shadow: 10px 10px 15px rgb(173, 29, 29);
}

