* {box-sizing: border-box;}
/*Ediciones para el background*/
body{
    margin:0; 
    padding: 0;
    background:url(../cel-mor/img/wallpaper.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
 }

ul{
    height:18.875em; width:34em;
    margin:5em auto; padding:3em 0 0 3em; position:relative; 
    border:1px solid #865ac0; border:1em; 
    background:-webkit-gradient(linear, right bottom, left top, color-stop(0%,rgba(230, 222, 222, 0.3)), color-stop(100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png');
  box-shadow:0 0 50px rgba(204, 191, 191, 0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5); }
  li { margin:0; padding:0; list-style:none; position:relative; float:left; }
}