body{
    background-color: #4d3e3e;
    text-align: center;
}

h2{
    color: #ffffff;
    padding: 5px;
    font-family: verdana;   
}
canvas{
    border: solid;
    background-color: #bb3b0e;
}

nav{
    text-align: left;
    background-color: #f1d1d1;
    padding: 10px;
    margin-left: 30px;
    margin-right: 1150px;
    font-size: 15px;
}